<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/flatly/bootstrap.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
 <div id="nav_console">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a id="logo-text" href="/"> Become a task node!</a></li>
        </ul>

        <ul class="nav pull-right">
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 1.75cm"></div>
  {% block content %}
  {% endblock %}

  {% block matrix %}
  {% endblock %}
  </body>
</html>
